@{
  ViewData["Title"] = "Home Page";
}

@section Styles {
  <style>
    
      .carousel-caption p {
      font-size: 20px;
      line-height: 1.4;
    }
      .container-fluid > .animated {
          margin-top: 5px !important;
       }

    h1, .h1, h2, .h2, h3, .h3 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
      .cuadro-amarillo {
          background-color: #f0db4f;
          width: 100%;
          text-decoration: none;
          height: 100%;
      }
      .cuadro-amarillo h1, h4 {
          color:#000;
          }
      .col-md-4 ul li{
          list-style: none;
      }
  </style>
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/Recurso_2.png" alt="ASP.NET" class="img-responsive" />
      <div class="carousel-caption" role="option">
        <p>
          Learn how to build ASP.NET apps that can run anywhere.
          <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
            Learn More
          </a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/images/Recurso_2.png" alt="Visual Studio" class="img-responsive" />
      <div class="carousel-caption" role="option">
        <p>
          There are powerful new features in Visual Studio for building modern web apps.
          <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
            Learn More
          </a>
        </p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="cuadro_live">
    <a href="#"><img class="img-thumbnail" src="~/images/facebook_live.jpg" alt="Facebook Live" /></a>
  </div>
</div>
  
  <div class="col-md-4">
    <div class="cuadro_live">
      <a href="#"><img class="img-thumbnail" src="~/images/youtube_live.jpg" alt="Youtube Live" /></a>
    </div>
  </div>

  <div class="col-md-4 text-center">
      <div class="cuadro-amarillo ">
          <a href="#"><h1 style="padding-top:30px;">REGLAS DEL JUEGO</h1></a>
          <ul style="padding-top:20px;">
              <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851"><h4>Aviso de Privacidad</h4></a></li>
              <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853"><h4>Contacto</h4></a></li>
              <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609"><h4>5215562546850</h4></a></li>
              <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609"><h4>dunia@networkingtalento.net</h4></a></li>
          </ul>
      </div>
  </div>
</div>
