@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";


    System.Data.DataTable dt = new System.Data.DataTable();
    dt = Talento.Clases.Estados.DatosEstados();

}

<div class="container mt-4">
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crear Nueva Cuenta</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Apaterno" class="control-label"></label>
                <input asp-for="Input.Apaterno" class="form-control" />
                <span asp-validation-for="Input.Apaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Amaterno" class="control-label"></label>
                <input asp-for="Input.Amaterno" class="form-control" />
                <span asp-validation-for="Input.Amaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Nombre" class="control-label"></label>
                <input asp-for="Input.Nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Estado"></label>
                <select asp-for="Input.Estado" id="inputState" title="Estado" class="form-control">

                    @{for (int i = 0; i < dt.Rows.Count; i++)
                        {
                            if (i == 0)
                            {
                                <option selected>@dt.Rows[i][1].ToString().Trim()</option>
                            }
                            else
                            {
                                <option>@dt.Rows[i][1].ToString().Trim()</option>
                            }
                        }

                    }
                </select>
                <span asp-validation-for="Input.Estado" class="text-danger"></span>
            </div>
            @*<input asp-for="Input.Estado" class="form-control" />*@


            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control"  readonly="readonly"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
