@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<header class="app-header navbar">
  <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="icono_menu"><i class="fa fa-bars"></i></span>
  </button>
  @*<a class="navbar-brand" href="#">
    <img class="navbar-brand-full" src="~/images/logo.png"  height="25" alt="CoreUI Logo">
    <img class="navbar-brand-minimized" src="~/images/logo.png" height="30" alt="CoreUI Logo">
  </a*@
 @*<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="icono_menu"><i class="fa fa-bars"></i></span>
  </button>*@

  <!-- APP-HEADER-NAV -->
  <partial name="_app-header-nav" />
  <!-- /APP-HEADER-NAV -->

  @if (SignInManager.IsSignedIn(User))
  {
  <ul class="nav navbar-nav ml-auto" style="padding-right:50px;">
    <!--<li class="nav-item d-md-down-none">
      <a class="nav-link" href="#">
        <i class="icon-bell"></i>
        <span class="badge badge-pill badge-danger">5</span>
      </a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#">
        <i class="icon-list"></i>
      </a>
    </li>
    <li class="nav-item d-md-down-none">
    <a class="nav-link" href="#">
      <i class="icon-location-pin"></i>
    </a>
  </li>-->
    <!-- USER-NAV -->
    <partial name="_user-nav" />
    <!-- /USER-NAV -->
  </ul>

    /*<button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="icono_menu"><i class="fa fa-bars"></i></span>
    </button>
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="icono_menu"><i class="fa fa-bars"></i></span>
    </button>*/
  }
  else
  {
    <ul class="nav navbar-nav ml-auto" style="padding-right:50px;">
      <li class="nav-item px-3">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Acceso</a>
      </li>
    </ul>
  }
</header>
