@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager



@if (User.Identity.IsAuthenticated)
{
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-view="Index">
                    <i class="nav-icon icon-home"></i> Inicio

                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index" asp-route-view="index">
                        <i class="nav-icon icon-chart"></i> Dashboard
                        <span class="badge badge-primary">Nuevo</span>
                    </a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Cursos">
                    <i class="nav-icon icon-folder-alt"></i>Cursos y Certificaciones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="EbooksYGuias">
                    <i class="nav-icon icon-book-open"></i> Ebooks y Guías
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Eventos">
                    <i class="nav-icon icon-calendar"></i> Eventos
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-menu"></i> Directorios
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Afiliados">
                            Afiliados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="DirProv">
                            Proveedores
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="GruposWhats">
                    <i class="nav-icon  fab fa-whatsapp"></i>  Grupos de WhatsApp
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Facebook">
                    <i class="nav-icon icon-social-facebook"></i>Difusión en Facebook
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-menu"></i> Empleo
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Empleos-tv">
                            Empleos TV
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Candidato" asp-action="Index" asp-route-view="AddCandidato">
                            Bolsa de Empleos TV
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="ferias-de-empleo">
                            Ferias del Empleo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-dropdowns">
                            Base de Candidatos
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Mensajes-masivos">
                    <i class="nav-icon icon-envelope-letter"></i>Mensajes Masivos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Encuestas">
                    <i class="nav-icon icon-question"></i> Encuestas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Consultores">
                    <i class="nav-icon icon-people"></i>Consultores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-simple-line-icons">
                    <i class="nav-icon icon-note"></i> Blog
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Talent" asp-action="Index" asp-route-view="Recomiendanos">
                    <i class="nav-icon icon-like"></i>Recomiéndanos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-simple-line-icons">
                    <i class="nav-icon icon-wallet"></i>Productos con tarifas preferentes
                </a>
            </li>

        </ul>
    </nav>
}
else
{
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="" asp-action="" asp-route-view="">
                    Debes de identificarte para poder ver el menú del sistema.
                </a>
            </li>
            <li class="nav-item">                
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Acceder ahora</a>
            </li>
        </ul>
    </nav>
}
