/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 


/* Make .svg files in the carousel display properly in older browsers */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.col-md-4 h5 {
    background-color: #074ff3;
    font-size: .8em;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-header {
    position: relative;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: #2d2d31;
}
.title {
    width: 100%;
    height: auto;
    background-color: #004e9c;
    color: #00f54d;
    font-weight: 900;
    padding: 21px 40px 20px 40px
}

.sidebar .nav-link.active .nav-icon {
    color: #ffffff;
}


/*CSS EBOOK Y GUIAS*/

.sidebar .nav-link.active {
    color: #fff;
    background: #DE1679;
}

.main .container-fluid {
    padding: 0;
}

.col-md-4 h5 {
    background-color: #0094ff;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-container {
    width: auto;
    height: auto;
    background: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    .img-container:before {
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        background: #fff;
        opacity: 0;
        transition: opacity .1s ease-out;
    }

    .img-container:hover:before {
        opacity: 1;
    }

.text-container {
    color: #444;
    position: absolute;
    top: 100%;
    padding: 0.25rem;
    background-color: rgba(10, 59, 196, 0.80);
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
}

/*input {
    margin-top: 50%;
}*/

.img-container:hover .text-container {
    top: 0;
    left: 0;
}
/*END CSS EBOOKS Y GUIAS*/



.sidebar .nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: #fff;
    font-size: .9em;
    text-decoration: none;
    background: transparent;
}

.app-footer {
    color: #000;
    font-size:.8em;
}

.app-header .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    font-size: .8em;
    font-family: 'Lato';
}

th {
    font-size: 0.8em !important;
}

.table-outline td {
    vertical-align: middle;
    font-size: .8em;
}

.table th, .table td {
    padding: 0.30rem;
    vertical-align: middle;
    border-top: 1px solid #c8ced3;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #c8ced3;
}

.sidebar .nav-link.active {
    color: #fff;
    background: #00de46;
}
#whatsapp a {
    margin-bottom: 1em;
    width: 100%;
    font-size:.9em;
}



#difusion-facebook h5 {
    background-color: #0094ff;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}