
@{
    ViewData["Title"] = "Consultores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
</style>

<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Consultores</h1>
    </div>
</div>

<div id="consultores" class="container-fluid px-4 mt-3">

    <div class="row info align-items-center">
        <div class="col-md-12">
            <div class="jumbotron bg-white">
                <div class="row">
                    <div class="col-md-12  text-left">
                        <h1 class="display-4">
                            Nuestros consultores
                        </h1>
                        <p class="text">Nuestro grupo de consultores tiene sólida experiencia en diferentes ramas de los RRHH por lo que pueden asesorarte, y ofrecerte alternativas diversas para alcanzar tus metas operativas, acercate a ellos por whatsApp</p>
                    </div>

                </div>
                <div class="row mt-3">

                    <div class="col-md-12">
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/dunia.png" />
                            </div>
                            <div class="col-md-8">
                                <h2>Dunia Castro</h2>
                                <h5 class="text"><a target="_blank" href="http://www.reclutamientoporredes.com">www.reclutamientoporredes.com</a></h5>
                                <p class="text">Fundadora de Networking Talento 2.0, CEO de EDEL GRUPO INTEGRA, 20 años de experiencia en Gestión de Capital Humano para empresas de alta rotación; su expertis: Reclutamiento Masivo, Desarrollo Organizacional y la cocina gourmet; su pasión: Sistemas de Gestión de Calidad, auditar procesos de rrhh y escribir, su sueño: que todos los reclutadores que sufren por los rincones encuentren un hogar en este Networking (ah y vivir en Puerto Progreso a su retiro), su amor: la Capacitación, aprender algo nuevo todos los días, este Networking y su guapura!!!</p>
                                <a href="https://api.whatsapp.com/send?phone=525562546850" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/denev.jpg" />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    DENEV LABOURDETTE
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://www.integralislaboudette.com">www.integralislaboudette.com</a></h5>
                                <p class="text">Soy una mujer que ha construido su propio destino, mi pasión es el capital humano y las reingenierias de procesos, me especializo en atracción de talento, capacitación y entrenamiento humano,reingenierias de procesos, consultoría en capital humano y desarrollo empresarial; mis socios son especialistas en gestión digital, gestión de ventas y administración de nómina y nuestras fortalezas nos hacen el mejor aliado de las empresas MIPYMES o Grandes; pues Nuestra Meta...Es que cumplas con las tuyas.</p>
                                <a href="https://api.whatsapp.com/send?phone=522281830990" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/alma-marques.jpg" />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    ALMA MARQUES
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://escriturayrostro.com/">www.escriturayrostro.com</a></h5>
                                <p class="text">Soy Pedagoga , Psicóloga y Grafóloga, me  desempeñado desde hace 21 años en áreas relacionadas con el Recursos Humano,  principalmente en Capacitación, Reclutamiento , Selección de Personal, y Evaluaciones Psicométricas. Facilitadora en el Diplomado en Psicología del Rostro y Grafología, en Asociaciones, Universidades y Consultorías en Recursos Humanos, a nivel Nacional. Directora en la empresa Escritura y Rostro, dedicada a difundir el estudio de la Grafología, Psicología del Rostro y del Comportamiento, tres disciplinas que se correlacionan con la forma de manifestar la personalidad. </p>
                                <a href="https://api.whatsapp.com/send?phone=522281830990" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/violeta.jpg"    />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    VIOLETA RAMIREZ
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://escriturayrostro.com/">www.escriturayrostro.com</a></h5>
                                <p class="text">Soy Contadora Pública de Profesión egresada de la Universidad Iberoamericana, realice mi especialidad en Alta Dirección. Tengo 20 años  en el área Contable, Administrativa. Actualmente soy la Gerente Administrativa de una importante firma de contadores a nivel internacional. Dos de mis pasiones son la “Grafología” la cual me ha ayudado a detectar de una manera oportuna empleados que cometen estos actos ilícitos y a Orientar a Jóvenes en su decisión de carrera profesional. Mi segunda pasión es la capacitación en talleres de Elaboración de Nómina a Generalistas en RH , reclutadores y toda aquella persona que tenga el deseo de aprender esta importante herramienta para su desarrollo profesional.</p>
                                <a href="https://api.whatsapp.com/send?phone=525530311975" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/lyz.jpg" />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    LYZ ESCALANTE
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://www.expertosencompetencias.com/">www.expertosencompetencias.com</a></h5>
                                <p class="text">Licenciada en Sociología y Maestra en Desarrollo Organizacional, Lyz Escalante Fernández es socia y fundadora de la firma “Expertos en Competencias”, ha trabajado para empresas trasnacionales en México y LATAM,  con más de 22 años de experiencia en la gestión del capital humano, ha participado en el desarrollo de modelos de competencias y herramientas que les permite a las organizaciones  tomar la mejor decisión en sus procesos de Selección, Formación y Desarrollo Organizacional.</p>
                                <a href="https://api.whatsapp.com/send?phone=525525056604" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/luis-salazar.jpg" />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    LUIS E. SALAZAR
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://www.gb-human.com.mx/">www.gb-human.com.mx</a></h5>
                                <p class="text">Psicólogo organizacional, con especialidad en coaching y mediación de conflictos. Es también capacitador externo registrado ante la Secretaría del Trabajo y Previsión Social. Tiene entrenamiento en lenguaje corporal y detección de mentiras por parte de las principales certificadoras: HumanSmart, Axón y No Verbal (avalado a nivel internacional por Humintell, Freitas Magallhes Group, ISFEE y SOMEFE).</p>
                                <a href="https://api.whatsapp.com/send?phone=525567085606" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/juan-carlos-gamboa.jpg" />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    JUAN CARLOS GAMA
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://www.gb-human.com.mx/">www.gb-human.com.mx</a></h5>
                                <p class="text">Licenciado administración de empresas, por el Colegio en Alta Dirección de Empresas (CADE), con amplia experiencia en el ramo financiero, así como en recursos humanos, planeación y estrategias de mercado, amplia experiencia en el manejo del factor humano, con experiencia en relaciones laborales y contractuales.</p>
                                <a href="https://api.whatsapp.com/send?phone=525567085606" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/billy-solorzano.jpeg" />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    BILLY SOLÓRZANO
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://www.ktic-mx.com/">www.ktic-mx.com</a></h5>
                                <p class="text">
                                    Agradecido con la vida por disfrutar  esta época siendo un apasionado de la tecnología y la educación. Soy Billy Solórzano Acuña, me he desempeñado en Gobierno, Sector Privado y ONG en el área de tecnología, desarrollo de contenido, capacitación presencial y online, gestión de proyectos.
                                </p>
                                <p class="text">
                                    Cuento con diferentes certificaciones nacionales e internacionales avaladas por CONOCER, Microsoft, Certiport y Google. Socio de KTIC, que HOY ya es una realidad, capacitando y certificando en diferentes herramientas tecnológicas  e implementando robótica educativa.
                                    Me encanta transmitir lo que he aprendido en estos años, y continuar  aprendiendo de los demás es mi mayor reto.
                                    Amo recorrer el mundo al lado de mi familia, jugar fútbol (arriba el Real Madrid) y andar en bicicleta.
                                </p>
                                <a href="https://api.whatsapp.com/send?phone=525567085606" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/ana-tinoco.jpeg" />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    ANA TINOCO
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://www.consultoriaccs.com/">www.consultoriaccs.com</a></h5>
                                <p class="text">Psicóloga, Maestra en Desarrollo Organizacional, varios diplomados y talleres, mas de 10 años de experiencia en Talento Humano CEO y Fundadora de CCS, experta en talento humano, logro de apoyo en certificaciones y posicionamiento de ranking GPTW, apoyo en ESR, expertis en capacitación, bienestar laboral, evaluaciones de desempeño, clima laboral, desarrollo organizacional, competencias, coaching organizacional, reclutamiento, estudios socio económicos, apasionada por lo que hago.</p>
                                <a href="https://api.whatsapp.com/send?phone=524431722615" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <img class="img-fluid" src="~/images/consultores/gaby-martinez.jpeg" />
                            </div>
                            <div class="col-md-8">
                                <h2>
                                    GABY MARTINEZ
                                </h2>
                                <h5><a target="_blank" class="text-black" href="http://www.ktic-mx.com/">www.ktic-mx.com</a></h5>
                                <p class="text">Soy Administradora, cuento con un Diplomado en Mercadotecnia Digital y otro en Psicología Forense, me apasiona entender el comportamiento humano. Cuento con 12 años de experiencia como Generalista en Recursos Humanos. He tenido la oportunidad de trabajar en empresas muy estructuradas, como lo es un banco, así como el adaptarme a un Startup donde lo único seguro, es el cambio y la diversidad. Amo la docencia, mi experiencia es en modelos ejecutivos y quiero seguir haciéndolo hasta envejecer. Soy nadadora, disfruto ese momento donde sólo somos mi respiración y yo, y soy también, la intensa en la familia que desde Octubre ya empieza a planear la Navidad. Mi pasión en Recursos Humanos, es lograr transmitir la gran responsabilidad que esta área implica dentro de cada organización</p>
                                <a href="https://api.whatsapp.com/send?phone=524431722615" target="_blank" class="btn btn-success btn-lg mb-2" role="button"><i class="fab fa-whatsapp"></i>  WhatsApp</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




