
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .sidebar .nav-link.active {
        color: #fff;
        background: #DE1679;
    }

    .main .container-fluid {
        padding: 0;
    }
    .cuadro-verde{
        background-color:#92d882;
    }
    .col-md-4 h5 {
        background-color:#074ff3;
        color: #fff;
        padding-top:10px;
        padding-bottom:10px;
    }
</style>
    <div class="row">
        <div style="width:100%; height:auto; background-color:#DE1679;color: white;" >
          <h1 style="padding:25px 20px 20px 100px;"><b>Cursos y Certificaciones</b></h1>
        
        </div>
    </div>
    <div class="container">
        <div class="row text-center" style="margin-top:30px;">
            <div class="col-md-8">
                <div class="row ">
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="~/images/Cursos/Recurso 6.png" alt="CURSOS VIRTUALES" />
                        <h5>JUEVES <br />DE WEBINAR'S</h5>
                    </div>

                    <div class="col-md-4">
                        <img class="img-thumbnail" src="~/images/Cursos/prueba.jpg" alt="CURSOS VIRTUALES" />
                        <h5>CURSOS <br /> VIRTUALES</h5>
                    </div>

                    <div class="col-md-4">
                        <img class="img-thumbnail" src="~/images/Cursos/Recurso 9.png" alt="CURSOS VIRTUALES" />
                        <h5>CURSOS <BR /> ONLINE</h5>
                    </div>
                </div>
                <div class="row" style="margin-top:50px;">
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="~/images/Cursos/Recurso 10.png" alt="CURSOS VIRTUALES" />
                        <h5>CURSOS <BR />PRESENCIALES</h5>
                    </div>

                    <div class="col-md-4">
                        <img class="img-thumbnail" src="~/images/Cursos/Recurso 11.png" alt="CURSOS VIRTUALES" />
                        <h5>VIDEOTECA <BR />DE WEBINAR´S</h5>
                    </div>

                    <div class="col-md-4">
                        <img class="img-thumbnail" src="~/images/Cursos/Recurso 12.png" alt="CURSOS VIRTUALES" />
                        <h5>VER <BR /> TUTORIALES</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cuadro-verde" style="height:100%; width:100%;">
                    <h1 style="padding:30px 30px 30px 30px">ACADEMIA TALENTO 2.0</h1>
                    <H3 style="padding:30px 30px 30px 30px">Te ofrecemos muchos cursos y capacitaciones gratuitos y muchos otros con tarifas preferentes con hasta un <B>30% de descuento!!</B></H3>
                </div>
            </div>
        </div>   
    </div>