
@{
    ViewData["Title"] = "DirProv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Directorio de Provedores</h1>
    </div>
</div>

<div class="container-fluid px-4 mt-3">
    <div class="row info align-items-center">
        <div class="col-md-5 text-center">
            <div class="jumbotron bg-light">
                <h1 class="display-4">Networking Talento 2.0</h1>
                <p class="lead">
                    Apoya a todos
                    los emprendedores
                    a difundir sus servicios
                    con los afiliados
                </p>
                <hr class="my-4">
                <h2>30% de descuento</h2>
                <a class="btn btn-primary btn-lg" href="https://api.whatsapp.com/send?phone=525562546850" target="_blank" role="button">Información</a>
            </div>                      
        </div>
        <div class="col-md-7">
            <div class="imgprov">
                <img src="~/images/DirProv/DirInfo.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>

</div>
