
@{
    ViewData["Title"] = "DirProv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .sidebar .nav-link.active {
        color: #fff;
        background: #DE1679;
    }

    .main .container-fluid {
        padding: 0;
    }

    .Titulo {
        width: 100%;
        height: auto;
        background-color: #DE1679;
        color: white;
    }

    .info{
        margin-top:60px;
        margin-bottom:30px;
    }
    .imgprov {
        
    }
    .texto-prov{
       
    }
</style>


<div class="row">
    <div class="Titulo">
        <h1 style="padding:25px 20px 20px 100px;"><b>DIRECTORIO DE PROVEEDORES</b></h1>

    </div>
</div>

<div class="row info align-items-center">
    <div class="col-md-5 text-center">
        <h1 class="b-p4"><b>Talento 2.0</b> apoya a todos<br />los emprendedores <br /> a difundir sus servicios<br /> con los afiliados</h1>
        <input type="button" class="btn btn-lg btn-primary" name="Info" value="INFORMACIÓN" />
    </div>
    <div class="col-md-7">
        <div class="imgprov">
            <img src="~/images/DirProv/DirInfo.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>