
@{
    ViewData["Title"] = "EbooksYGuias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Ebooks y Guías</h1>
    </div>
</div>

<div id="ebooks-guias" class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-3">
                    <div class="img-fluid img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 14-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 16-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 17-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 18-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="img-fluid img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 19-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div><div class="col-md-3">
                <div class="img-fluid img-container">
                    <img class="" src="~/images/Ebooks-guias/Recurso 20-100.jpg" alt="CURSOS VIRTUALES" />
                    <div class="text-container">
                        <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                    </div>
                </div>
                 </div><div class="col-md-3">
                <div class="img-fluid img-container">
                    <img class="" src="~/images/Ebooks-guias/Recurso 21-100.jpg" alt="CURSOS VIRTUALES" />
                    <div class="text-container">
                        <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                    </div>
                </div>
                 </div><div class="col-md-3">
                <div class="img-fluid img-container">
                    <img class="" src="~/images/Ebooks-guias/Recurso 22-100.jpg" alt="CURSOS VIRTUALES" />
                    <div class="text-container">
                        <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                    </div>
                </div>
                </div>

            </div>


            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="img-fluid img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 23-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 24-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 25-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 27-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 28-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 29-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 30-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 31-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 32-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 33-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 34-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 35-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 36-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 37-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-fluid  img-container">
                        <img class="" src="~/images/Ebooks-guias/Recurso 38-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="text-container">
                            <input class="btn btn-dark " type="button" name="Comprar" value="Comprar" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

