
@{
    ViewData["Title"] = "EbooksYGuias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Ebooks y Guías <i class="fas fa-book"></i></h1>
    </div>
</div>

<div id="ebooks-guias" class="container-fluid px-4 mt-4">
    <div class="row justify-content-center mt-3">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="img-fluid" src="~/images/Ebooks-guias/Recurso 14-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Gestión de Talento Humano</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 16-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Reclutamiento 3.0</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-3">                    
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 17-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Fidelización de Talento</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 18-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Atracción de personal 3.0</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">                    
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 19-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Como elegir las fuentes de Reclutamiento</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 20-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Cursos por competencia</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 21-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Como hacer vacantes más atratactivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 22-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>                    
                </div>

            </div>


            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 23-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 24-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 25-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 27-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 28-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 29-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 30-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 31-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 32-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 33-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 34-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 35-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row" style="margin-top:50px;">
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 36-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 37-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hovereffect">
                        <img class="" src="~/images/Ebooks-guias/Recurso 38-100.jpg" alt="CURSOS VIRTUALES" />
                        <div class="overlay">
                            <h2>Herramientas para diseñar vacantes atractivas</h2>
                            <a class="btn btn-ghost-dark btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

