
@{
    ViewData["Title"] = "Empleos TV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
</style>

<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Empleos TV <img src="~/images/facebook-live.png" height="40"></h1>
    </div>
</div>

<div class="container-fluid px-4 mt-3">

    <div class="row info align-items-center">
        <div class="col-md-12 text-left">
            <div class="jumbotron bg-white">
                <div class="row ">
                    <div class="col-md-6 text-left">

                        <h2 class="">¿Sabes que los videos (en directo) son los que hoy por hoy tienen más tráfico en facebook?</h2>
                        <p class="lead">
                            Qué esperas para sumarte a la barra de transmisiones en directo de Empleos TV, tenemos casi 15 mil seguidores que están esperando ver tus videovacantes
                        </p>
                        <hr class="my-4">
                    </div>
                    <div class="col-md-6 text-left">
                        <img class="img-fluid" src="~/images/emplos-tv/talenters.jpg">
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-4 text-left">
                        <img class="img-fluid" src="~/images/emplos-tv/1.jpg">
                    </div>
                    <div class="col-md-4 text-left">
                        <img class="img-fluid" src="~/images/emplos-tv/2.jpg">
                    </div>
                    <div class="col-md-4 text-left">
                        <img class="img-fluid" src="~/images/emplos-tv/3.jpg">
                    </div>
                </div>

                <h3>Que ofrecemos</h3>
                <ul>
                    <li>Te asignamos un día y un horario de transmisión para que cada semana hagas tu directo con nosotros</li>
                    <li>Poco antes de tu transmisión te enviamos un link para que acceses</li>
                    <li>Puedes transmitir sentado, parado, en oficina, al aire libre, entrevistar y todo lo que se te ocurra</li>
                    <li>Tienes de 10 a 15 minutos para hablar de tu empresa, de lo padrisimo que es trabajar contigo, entrevistar a empleaos, a nuevos ingresos y hasta hacer employer branding, todo con la idea de vender tus vacantes</li>
                    <li>A todos los interesados en tu vacante los dirigimos contigo</li>
                </ul>
                <h2>Tenemos disponibles horarios en la barra de las 11 de la mañana</h2>
                <a class="btn btn-primary btn-lg" href="https://api.whatsapp.com/send?phone=525562546850" target="_blank" role="button">Reserva tu espacio por WhatsApp</a>

            </div>
        </div>
    </div>

</div>




