
@{
    ViewData["Title"] = "Encuestas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
</style>

<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Encuestas</h1>
    </div>
</div>

<div class="container-fluid px-4 mt-3">

    <div class="row info align-items-center">
        <div class="col-md-12 text-center">
            <div class="jumbotron bg-white">
                <div class="row">
                    <div class="col-md-5  text-left">
                        <h1 class="display-4">
                            ¡Olvídate del papel!
                        </h1>
                        <p class="text">Hemos creado para ti encuestas montadas en Google Drive que te permitirán ahorrar hasta el 70% de tu tiempo en la aplicación de tus encuestas y podrás obtener información de tus empleados</p>
                        <ul class="">
                            <li>
                                Encuestas de satisfacción
                            </li>
                            <li>
                                Encuestas de Salida
                            </li>
                            <li>
                                DNC
                            </li>
                            <li>
                                Y muchas encuestas más
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-left">
                        <h2>
                            Por favor reproduce el video antes de accesar
                        </h2>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/L2Myf0bp7BA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12  text-left">
                        <h2 class="display-4 title text-center">
                            No olvides hacer tu respaldo
                        </h2>
                        <h2 class="display-5">
                            Listado de Encuestas
                        </h2>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://docs.google.com/forms/d/1xKAn6TYnbWjGhW0OezzxCfcLBS8dSJbdJ4v0jS60oF8/edit?usp=sharing" target="_blank" class="btn btn-primary btn-lg w-100 mb-2" role="button">Encuestas de clima</a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://docs.google.com/forms/d/16Q3tyoumM3dJuNaq5xcj15J7lmYm9FnenTWYQISbiqM/edit?usp=sharing" target="_blank" class="btn btn-primary btn-lg w-100 mb-2" role="button">DNC</a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://docs.google.com/forms/d/1POFue6wSE5j-62fs_BOdEo_7cdhvsIi_-G6YKQm-iME/edit?usp=sharing" target="_blank" class="btn btn-primary btn-lg w-100 mb-2" role="button">Requisición de personal</a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://docs.google.com/forms/d/16Q3tyoumM3dJuNaq5xcj15J7lmYm9FnenTWYQISbiqM/edit?usp=sharing" target="_blank" class="btn btn-primary btn-lg w-100 mb-2" role="button">Evaluación de desempeño</a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://docs.google.com/forms/d/16Q3tyoumM3dJuNaq5xcj15J7lmYm9FnenTWYQISbiqM/edit?usp=sharing" target="_blank" class="btn btn-primary btn-lg w-100 mb-2" role="button">Evaluación 360</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>




