
@{
    ViewData["Title"] = "Facebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .sidebar .nav-link.active {
        color: #fff;
        background: #DE1679;
    }

    .main .container-fluid {
        padding: 0;
    }


    #youtube {
        margin: 0 auto;
        margin-top: 50px;
    }

    input {
        margin: 0 auto;
        margin-top: 50px;
    }

    .col-sm-6 {
        padding: 0;
    }
</style>


<div class="row">
    <div style="width:100%; height:auto; background-color:#DE1679;color: white;">
        <h1 style="padding:25px 20px 20px 100px;"><b>FACEBOOK</b></h1>

    </div>
</div>

