
@{
    ViewData["Title"] = "Facebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
</style>


<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Difusión en Facebook</h1>
    </div>
</div>



<div class="container-fluid px-4 mt-3">

<div class="row info align-items-center">
    <div class="col-md-5 text-left">
        <div class="jumbotron bg-white">
            <h2 class="display-4">Grupos de Facebook</h2>
            <p class="lead">
                La difusión en grupos puede quitar mucho tiempo y ser tediosa y hasta de pronto peligrosa para tu cuenta de Facebook, para esto exiten algunos bots que no son otra cosa que autoposteadores de grupos que hacen el trabajo por ti
            </p>
            <p class="lead">
                En Networking Talento 2.0 Contamos con un autoposteador de grupos que con solo $100 mensuales te facilitan esta tarea
            </p>
            <hr class="my-4">
            <h2>Atención personalizada</h2>
            <a class="btn btn-primary btn-lg" href="https://api.whatsapp.com/send?phone=525562546850" target="_blank" role="button">Informes</a>
        </div>
    </div>
    <div id="difusion-facebook" class="col-md-7">
        <div class="row text-center">

            <div class="col-md-6">
                <a href="https://www.facebook.com/lostalenters/" target="_blank">
                    <img class="img-fluid" src="~/images/empleostv.jpg" alt="CURSOS VIRTUALES" />
                    <h5>Visitar Facebook</h5>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" target="_blank">
                    <img class="img-fluid" src="~/images/difusion-facebook/upload.png" alt="CURSOS VIRTUALES" />
                    <h5>Subir vacantes</h5>
                </a>
            </div>
            <div class="col-md-6">
                <a href="https://www.facebook.com/groups/intercambioqro/" target="_blank">
                    <img class="img-fluid" src="~/images/difusion-facebook/facebookgroup.jpg" alt="CURSOS VIRTUALES" />      
                    <h5>Unirte al grupo</h5>
                </a>
            </div>
            
            
        </div>
    </div>

</div>

</div>

