
@{
    ViewData["Title"] = "Grupos WhatsApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
</style>

<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Grupos de WhatsApp</h1>
    </div>
</div>

<div class="container-fluid px-4 mt-5">


    <div id="whatsapp" class="row mt-3">
        <div class="col-md-5 text-left">
            <div class="jumbotron bg-white">
                <h2 class="display-4">Grupos de Facebook</h2>
                <p class="lead">
                    Contamos con diferentes grupos de whatapp segmentados por ciudades donde podrás intercambiar opiniones con todos los colegas
                </p>
                <hr class="my-4">

            </div>
        </div>


        <div class="col-md-3">
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/3r5XjjsQA1pIRwscoot6OT" role="button">Perú</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/HiJIMZOkbhNDthAJHAqLOo" role="button">CDMX</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/CQysLMjYARXGMWbdkeoqne" role="button">Guadalajara</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/EzkbuAUnXbVFQu4gjb8APZ" role="button">San Luis Potosí</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/9Za3xNo6uyG0YyAJCoRiHy" role="button">Puebla</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/05iZmRVZnAXHlQayayUcAf" role="button">Monterrey</a>
            </div>

        </div>

        <div class="col-md-3">
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/8Dam0EeOmlu4vaLw2m9YWI" role="button">Querétaro</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/1WQh5AztZ3e80GDy4UGaMI" role="button">Colima</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/FfnQaOgPrvS6FfwYeRusbT" role="button">Toluca</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/9T1qce1wnPF7FqmQry5NzJ" role="button">León</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/2aINZa48MxV3jnQj3PbW03" role="button">Cancún</a>
            </div>
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary btn-lg" href="https://chat.whatsapp.com/KCRRTtL0zMOJgajDhuNhjc" role="button">Veracruz</a>
            </div>
        </div>

    </div>
</div>

