
@{
    ViewData["Title"] = "GruposWhats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .sidebar .nav-link.active {
        color: #fff;
        background: #DE1679;
    }

    .main .container-fluid {
        padding: 0;
    }
    .row {
        margin-top:30px;
    }
    input {
        width:250px;
        height:auto;
    }
</style>

<div class="row">
    <div style="width:100%; height:auto; background-color:#DE1679;color: white;">
        <h1 style="padding:25px 20px 20px 100px;"><b>GRUPOS DE WHATSAPP</b></h1>

    </div>
</div>

<div class="row align-content-center">
    <div class="col-sm-2 offset-3 text-right">
        <img src="~/images/Gwhats/whats.png" width="150" alt="Alternate Text" />
    </div>
    <div class="col-sm-4 text-justify">
            <h1 class="display-4"><b>Únete al grupo <br /> de tu ciudad</b></></h1>
    </div>
</div>

<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="PERU" value="Perú" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="CDMX" value="CDMX" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="GUADALAJARA" value="GUADALAJARA" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="SNLUISP" value="SAN LUIS POTOSÍ" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="PUEBLA" value="PUEBLA" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="MONTERREY" value="MONTERREY" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="QUERETARO" value="QUERÉTARO" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="COLIMA" value="COLIMA" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="TOLUCA" value="TOLUCA" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="LEON" value="LEÓN" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="CANCUN" value="CANCÚN" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-lg btn-primary" name="VERACRUZ" value="VERACRUZ" />
        </div>
    </div>
</div>