
@{
    ViewData["Title"] = "Mensajes Masivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
</style>

<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Mensajes Masivos</h1>
    </div>
</div>

<div class="container-fluid px-4 mt-3">

    <div class="row info align-items-center">
        <div class="col-md-12 text-left">
            <div class="jumbotron bg-white">
                <div class="row ">
                    <div class="col-md-6 text-left">

                        <h2 class="text">Enivar mensajes masivos por SMS o WhatsApp te ahorra hasta el 80% de tu tiempo</h2>

                        <a class="btn btn-primary btn-lg" href="https://api.whatsapp.com/send?phone=525562546850" target="_blank" role="button">Solicitar información</a>
                        
                    </div>
                    <div class="col-md-6 text-left">
                           <img class="img-fluid" src="~/images/mensajes-masivos/mail-send.png">
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>




