
@{
    ViewData["Title"] = "Recomiéndanos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
</style>

<div class="row">
    <div class="title">
        <h1 class="font-weight-bold">Recomiéndanos</h1>
    </div>
</div>

<div class="container-fluid px-4 mt-3">

    <div class="row info align-items-center">
        <div class="col-md-12 text-center">
            <div class="jumbotron bg-white">
                <div class="row">
                    <div class="col-md-5  text-left">
                        <h1 class="display-4">
                            ¿Te gusta lo que hacemos?
                        </h1>
                        <h3>Recomiéndanos</h3>
                        <p class="text">Ayúdanos a seguir creciendo, si conoces a alguien que pudiera convertirse en #Talenter registralo y le marcamos!</p>
                        <p class="text">Si se logra el contacto te llevas <span class="font-weight-bold">$200 en monedero electrónico</span> para adquirir cualquier producto de la red, si se logra la negociación te llevas el 5% de la factura</p>
                        <a target="_blank" class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSfw_cax6M3Npzci4-80KukSzJ8v_-LQ5sGfG_nYbZCzCSQ6yw/viewform" role="button">Recomiéndanos</a>
                    </div>
                    <div class="col-md-6 text-left">
                        <h2>
                            Por favor reproduce el video antes de accesar
                        </h2>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/L2Myf0bp7BA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                
            </div>
        </div>        
    </div>
</div>




